@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b11;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  background: #0b0b11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 40px;
  font-weight: 700;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 101;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.nav-menu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-size: 1rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.back-btn {
  color: #fff;
  display: none;
}

/* TOP HEADLINES */
.topHeadlines {
  padding: 120px 50px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: #fff;
  line-height: 1.5;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* PAGE 2 */
.page2 {
  background: #16161d;
  padding: 50px;
}

.page2 .news {
  margin-bottom: 40px;
}

.page2 h2 {
  font-size: 35px;
}

.page2 .newsBox {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.page2 .newsCard {
  width: 20%;
  background: #1f1f2a;
}

.page2 .newsCard img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.page2 .newsCard .text {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.page2 .newsCard .text:hover {
  text-decoration: underline;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px 20px 20px;
    transition: right 0.3s ease-in-out;
    background-color: rgb(11, 11, 17, 0.9);
    z-index: 1000;
  }

  .nav-menu.active {
    right: 0;
  }

  .back-btn {
    display: block;
    background: none;
    border: none;
    font-size: 1.2rem;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
    gap: 16px;
  }
  .nav-item {
    margin: 0;
  }
  .hamburger-menu.active .bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.menu-open {
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .text-overlay p {
    display: none;
  }

  .text-overlay h1,
  .text-overlay h2 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  .text-overlay {
    padding: 10px;
  }
  .text-overlay h1,
  .text-overlay h2 {
    line-height: 1.2;
  }
}
.img-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-out;
  transform-origin: center center;
}

.img-container:hover img {
  transform: scale(1.03);
}
@media screen and (max-width: 1024px) {
  .topHeadlines {
    display: flex;
    flex-direction: column;
  }
  .img-container {
    margin-bottom: 2rem;
  }
  /* .topHeadlines .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .topHeadlines {
    display: flex;
    flex-direction: column;
  }
  .img-container {
    margin-bottom: 2rem;
  }
  .topHeadlines .right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .topHeadlines .right .img-container {
    aspect-ratio: 16/9;
  }

  .topHeadlines .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
