@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b11;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-height: 100vh;
  color: #ffff;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
}
.logo {
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 15px;
  padding: 0 10px;
  border-left: 1px solid #fff0;
  border-right: 1px solid #fff0;
  transition: 0.3s;
}
nav ul li:hover {
  border-left: 1px solid #ffff;
  border-right: 1px solid #ffff;
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
  letter-spacing: 1px;
}

